body{
    background-color: rgb(214, 203, 189);
}

.image-logo {
    width: 10%;
}
.Menu{
    display: flex;
    flex-direction: column;
}
.Suppen {
    display: flex;
    flex-direction: row;
    gap: 33px;
    justify-content: center;
}
.Pizzas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-right: 5px;
}
.Getränke {
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
}
.Desert{
display: flex;
flex-direction: row;
gap: 85px;
justify-content: center;
margin-left: 50px;
}
.Logo {
    display: flex;
    justify-content: center;
}
img {
    height: 120px;
    margin-left: 5%;
    margin-top: 50px;
}
.Glace {
    display: flex
    
}